<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Veiculo</title>
</head>
<body>

<h1> cadastro de veiculos </h1>

<form method="post" th:action="@{/veiculo}" th:object="${veiculo}">

    <label for="placa">Placa: </label>
    <input type="text" th:field="*{placa}">

    <br>
    <br>
    <label for="modelo">Modelo:  </label>
    <input type="text" th:field="*{modelo}">


    <br>
    <br>
    <label for="cor">Cor: </label>
    <input type="text" th:field="*{cor}">

    <br>
    <br>

    <button type="submit"> enviar </button>

</form>
</body>
</html>